<h1>Documentation ZeNInstall</h1>
<h2>Presentation</h2>

ZeNinstall automatise l'ensemble des etapes permettant l'installation d'un serveur linux
ZeNinstall a besoin :
<ul>
<li>Un serveur DHCP ( local ou distant ) permettant de lui relayer les requetes intiale de boot</li>
<li>De deux interface ethernet : eth0 rattache a votre reseau , eth1 attache sur le Lan dedie au deploiement</li>
</ul>

Par securite les receptions des resquetes bootp/Pxe ne se font que sur l'interface eth1 

<p>Find me in app/views/pages/doc.html.erb</p>
