<div class="page-header">
  <div class="logo pull-left">  <%= image_tag('system.png',:width => 50, :height => 50 ) %></div> <h1>  Nouveau Systeme </h1>
</div>
<div class="row-fluid">
  <div class="span12">
    <%= render 'form' %>
  </div>
</div>
